.post__container {
  max-width: 900px;
  width: 98%;
  margin: 0 auto;
  border: 1px solid lightgray;
  background-color: white;
  margin-top: 1em;
}
.post__userInfoContainer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.post__avatar {
  margin-right: 1em;
}

.post__userPostInfo {
  flex: 1;
}

.post__username {
  margin-bottom: 0.2em;
}

.post__location {
  font-size: 0.8rem;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__actions {
  display: flex;
  justify-content: space-between;
  padding: 0.6em 1em;
}

.action__icon {
  margin-right: 0.8em;
  cursor: pointer;
}

.bookmark__icon,
.menu__icon {
  cursor: pointer;
}

.post__captionContainer {
  display: flex;
  align-items: center;
}

.post__userCaption {
  margin-right: 0.5em;
}

.post__caption {
  font-size: 0.8rem;
  padding: 1em;
}

.post__username {
  font-weight: bolder;
  margin-right: 0.5em;
}
